/*Tag Selctors*/

body {
  background-color: #393E46;
}

hr {
  border-color: #00ADB5;
  border-style: dashed none none;
  border-width: 5px;
  height: 0px;
  width: 5%;
}

h1 {
  color: #EEEEEE;
  font-size: 60px;
}

h2 {
  color: #EEEEEE;
  font-size: 40px;
}

p {
  color: #EEEEEE;
}

th {
  color: #EEEEEE;
}

td {
  color: #EEEEEE;
}

em {
  color: #EEEEEE;
}

li {
  color: #EEEEEE;
}

label {
  color: #EEEEEE;
}

a {
  color: #00ADB5;
}

button {
  background-color:  #00ADB5;
  color: #EEEEEE;
}

/*Class Selectors*/

.submitButton {
  background-color: #00ADB5;
  color: #EEEEEE;
}

.buttonEffect:hover {
  color: #222831;
}

.buttonLink:hover {
  color: #222831;
}
